!!!
%html
  %head
    %title Regenwolke Manager
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    / Bootstrap
    %link{:href => url("/vendor/bootstrap/css/bootstrap.min.css"), :rel => "stylesheet"}
      / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      / WARNING: Respond.js doesn't work if you view the page via file://
      /[if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body{'ng-app' => 'regenwolkeManager'}
    / Static navbar
    .navbar.navbar-default{:role => "navigation", 'ng-controller' => 'NavigationController' }
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => url("/")} Regenwolke Manager
        .navbar-collapse.collapse
          %ul.nav.navbar-nav{'ng-if' => '$root.loggedIn'}
            %li{class: 'active'}
              %a{href: '#'} Status
            %li
              %a Applications
            %li
              %a{href: '#/services'} Services
            %li
              %a{href: '/nestene'} Nestene
          %button.btn.btn-default.navbar-btn.navbar-right{'ng-click' => 'logOut()', 'ng-if' => '$root.loggedIn'} Log Out
    .container-fluid{'ng-view' => true}
  %script{:src => url("/vendor/jquery.min.js")}
  %script{:src => url("/vendor/jquery-ui.min.js")}
  %script{:src => url("/vendor/angular.min.js")}
  %script{:src => url("/vendor/angular-route.min.js")}
  %script{:src => url("/vendor/ui-bootstrap-tpls.min.js")}
  %script{:src => url("/app/application.js")}
