.panel.panel-default
  .panel-heading
    Services
  .panel-body
    %accordion{'close-others' => "oneAtATime"}
      %accordion-group{heading: "{{service.name}}", 'ng-repeat' => "service in services"}
        {{service.service_id}}


